#{extends 'main.html' /}

<h1><a href="/">♫ Social Melodic</a> <span class="phonetic">[səʊʃl̩ mɨˈlɑɾɪk]</span></h1>
<h2>a human-based melody generator *</h2>


<header class="description">
* People, through their choices, affect the evolution of melodies. 
Melodies will undergo a series of mutation, 
and continue to grow and improve themselves over generations. It's called a human-based genetic algorithm.
The more of you, the more changes will be fast and significant.
</header>

#{doLayout /}

<footer>
  <a href="http://grenlibre.fr/">grenlibre.fr</a> - Gaetan Renaudeau - 2011
</footer>
