<!DOCTYPE html>
<html>
  <head>
    <title>♫ Social Melodic#{if title} - #{get 'title' /}#{/if}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coda+Caption:800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    
    #{script "jquery-1.5.min.js" /}
    #{script "processing-1.0.0.min.js" /}
    #{script "jsfx/audio.js" /}
    #{script "jsfx/jsfx.js" /}
    
    <script type="text/javascript">
      window.melody = { GeneratorWorker: "@{'/public/javascripts/worker.js'}" };
    </script>
    #{script "melody-utils.js" /}
    #{script "melody-player.js" /}
    #{script "melody-generator.js" /}
    #{script "loader.js" /}
    
    #{get 'moreScripts' /}
    <body>
      <div id="container">
        #{doLayout /}
      </div>
    </body>
</html>
